body {
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
    box-shadow: 0px 4px 14px 0px #00000008;
    position: relative;
    transition: height 0.3s ease-in-out;
    &.nav-open {
        height: 100vh;
        align-items: flex-start;
        img {
            margin-top: 13px;
        }
    }
    #menu-toggle {
        display: none;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 1;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background: black;
            margin: 6px auto;
            transition: all 0.3s ease-in-out;
        }
        &.open {
            span:nth-child(1) {
                transform: translateY(16px) rotate(45deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
    .main-nav {
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 40px;
            li {
                a {
                    font-family: "Space Mono", monospace;
                    font-size: 16px;
                    line-height: 23.7px;
                    color: black;
                    text-decoration: none;
                    text-transform: uppercase;
                    cursor: pointer;

                    &:hover {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

// Responsive - Header
@media screen and (max-width: 800px) {
    header {
        padding: 20px 40px;
        #menu-toggle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main-nav {
            position: absolute;
            z-index: 10;
            top: 80px;
            right: 0;
            left: 0;
            width: 100%;
            height: -webkit-fill-available;
            display: none;
            ul {
                flex-direction: column;
                gap: 50px;
                align-items: center;
                li {
                    a {
                        font-size: 44px;
                        line-height: 65px;
                        text-align: center;
                        color: white;
                    }
                }
            }
            &.active {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
        .image-banner {
        position: relative;
        width: 100%;
        height: 962px;
        object-fit: cover;
        }
        .title-sub-banner {
        position: absolute;
        text-align: center;
        }
        .titre-banner {
        position: absolute;
        font-family: Space Mono;
        font-size: 96px;
        font-style: italic;
        font-weight: 700;
        line-height: 142px;
        -webkit-text-stroke: 2px white;
        color: transparent;
        }
}

// Responsive - Banner
@media screen and (max-width: 800px) {
    .banner {
        .titre-banner {
            font-size: 28px;
            line-height: 41px;
        }
        .image-banner {
            height: 300px;
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        width: 597px;
        overflow: hidden;
        padding-block: 18px 28px;
        .wpcf7 {
        display: flex;
        justify-content: center;
        }
        .envoyer {
        width: 263px;
        height: 50px;
        border: none;
        background-color: #D8D8D8;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;
            margin-top: 25px;
            padding-inline: 130px;
            p {
            margin: 0;
            width: 100%;
            }
            label {
            max-width: 255px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: Poppins;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-transform: uppercase;
                textarea {
                padding: 8px;
                height: 192px;
                max-width: 245px;
                border-radius: 8px;
                border: 1px solid black;
                }
                input {
                height: 40px;
                max-width: 100%;
                border-radius: 8px;
                border: 1px solid black;
                }
            }
        }
    }
}

// Responsive - Modal
@media screen and (max-width: 800px) {
    .modal {

        .modal-content {
            width: 286px;
            img {
                width: 100%;
                height: 100%;
            }
            .envoyer {
                width: 192px;
            }
            form {
                margin-top: 20px;
                p {
                    justify-content: center;
                    display: flex;                
                }
                label {
                    max-width: 184px;
                    textarea {
                    max-width: 172px;
                    }
                    input {

                    }
                }
            }
        }
    }
}   

.main-gallery, .related-photo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 140px 40px 140px;
    gap: 40px;
    h2 {
        font-family: Space Mono;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .gallery-filters {
        display: flex;
        justify-content: space-between;
        .filter-container {
            position: relative;
            display: inline-block;
            .dropdown-open {    
                border-radius: 8px 8px 0 0;
                border: 1.3px solid #215AFF;
                img {
                    transform: rotate(180deg);
                }
            }
            button {
                text-transform: uppercase;
                font-family: Poppins;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 3px;
                width: 260px;
                height: 42px;
                justify-content: space-between;
                border-radius: 8px;
                border: 1.3px solid #B8BBC2;
                padding: 11px 18px;
                display: flex;
                cursor: pointer;
                align-items: center;
                background-color: white;
                &:hover {
                    border: 1.3px solid #215AFF;
                }
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #ffffff;
                z-index: 1;
                width: 100%;
                border-radius: 0 0 8px 8px;
                padding-top: 50px;
                label {
                    display: block;
                    cursor: pointer;
                    padding: 12px 18px;
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 3px;
                    text-transform: capitalize;
                    &:hover {
                        background-color: #E00000;
                        color: white;
                    }
                    input[type="radio"] {
                        display: none;
                    }
                }
            }
        }
        .category-format-filters, .filtre-date {
            display: flex;
            gap: 34px;
        }
    }
    #photo-gallery {
        display: flex;
        flex-direction: column;
        gap: 40px;
        #related-photos {
            margin-bottom: 70px;
        }
        .gallery-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
            .photo-item:hover .photo-overlay {
                opacity: 1;
            }
            .photo-item {
                position: relative;
                display: flex;
                .photo-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #00000099;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    text-align: center;
                    .photo-icons {
                        display: flex;
                        flex-direction: column;
                        margin-block: 12px 18px;
                        width: 100%;
                        height: 100%;
                        justify-content: space-between;
                        .fullscreen-icon {
                            cursor: pointer;
                            background: black;
                            margin-right: 18px;
                            border-radius: 50%;
                            padding: 10px;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-self: self-end;
                            img {
                                width: 14px;
                                height: 14px;
                                object-fit: contain;
                            }
                        }
                        .eye-icon {
                            cursor: pointer;
                            img {
                                width: 46px;
                                height: 31px;
                                object-fit: contain;
                            }
                        }
                        .category-title {
                            display: flex;
                            justify-content: space-between;
                            padding-inline: 18px 24px;
                            .photo-category {
                                font-family: Space Mono;
                                font-size: 14px;
                                line-height: 20.73px;
                                letter-spacing: 0.1em;
                                text-transform: uppercase;
                                color: white;
                            }
                            .photo-title {
                                font-family: Poppins;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 21px;   
                                color: white;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                img {
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    width: 100%;
                    height: 495px;
                }
            }
        }
        #load-more-btn {
            font-family: Space Mono;
            font-size: 12px;
            line-height: 18px;
            margin: auto;
            border: none;
            border-radius: 2px;
            background-color: #D8D8D8;
            padding: 16px 92px;
            cursor: pointer;
            &:hover {
                font-weight: 700;     
                color: white;
                background-color: black;
            }
        }
    }
}

// Responsive - Gallery
@media screen and (max-width: 800px) {
    .main-gallery, .related-photo {
        padding: 40px 0 40px 0;
        h2 {
            margin: 0;
            text-align: center;
        }
        .gallery-filters {
            flex-direction: column;
            gap: 8px;
            .filter-container {
                button {
                    width: 270px;
                }
            }
            .category-format-filters, .filtre-date {
                align-items: center;
                flex-direction: column-reverse;
                gap: 8px;
            }
        }
        #photo-gallery {
            padding-inline: 29px;
            gap: 70px;
            .gallery-content {
                grid-template-columns: repeat(1,1fr);
                gap: 20px;
                .photo-item {
                    img {
                        height: 278px;
                    }
                }
            }
        }
    }
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    .lightbox-content {
        text-align: center;
        color: white;
        display: flex;
        flex-direction: column;
        img {
            max-height: 80vh;
        }
        #prev-photo {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            color: white;
            border: none;
            cursor: pointer;
            left: 20px;
            font-family: Space Mono;
            font-size: 12px;
            line-height: 18px;
            gap: 5px;
            align-items: flex-end;
            &:hover {
                font-weight: 700;
                span {
                font-size: 34px;
                margin-bottom: 4px;
                }
            }
            span {
                font-size: 25px;
                margin-bottom: 2px;
            }
        }
        #next-photo {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            color: white;
            border: none;
            cursor: pointer;
            right: 20px;
            font-family: Space Mono;
            font-size: 12px;
            line-height: 18px;
            gap: 5px;
            align-items: flex-end;
            &:hover {
                font-weight: 700;
                span {
                font-size: 34px;
                margin-bottom: 4px;
                }
            }
            span {
                font-size: 25px;
                margin-bottom: 2px;
            }
        }
        .lightbox-info {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            #lightbox-reference {
                font-family: Poppins;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 5px; 
                text-transform: uppercase;
                color: white;
            }
            #lightbox-category {
                font-family: Space Mono;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 5px;   
                text-transform: uppercase;
                color: white;
            }
        }
    }
}

// Responsive - Lightbox
@media screen and (max-width: 800px) {
    .lightbox {
        .lightbox-content {
            img {
                max-height: 70vh;
                max-width: 100%;
            }
            #prev-photo {
                top: 90%;
            }
            #next-photo {
                top: 90%;
            }
            .lightbox-info {
                padding-inline: 10px;
            }
        }
    }
}

footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
        ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 80px; 
        .all-right-reserved {
            font-family: Space Mono;
            font-size: 16px;
            line-height: 23.7px;
            color: black;
            text-transform: uppercase;
        }
        a {
            font-family: Space Mono;
            font-size: 16px;
            line-height: 23.7px;
            color: black;      
            text-decoration: none;
            text-transform: uppercase;
                &:hover {
                    font-weight: 700;
                }
        }
    }
}

// Responsive - Footer
@media screen and (max-width: 800px) {
    footer {
        padding-block: 48px;
        ul {
            flex-direction: column;
            gap: 35px;
            text-align: center;
        }
    }
}

.main-single {
    padding: 30px 140px 0 140px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .after-contact {
        margin: 0;
        border: none;
        background-color: black;
        width: 100%;
        height: 1px;
        align-self: flex-end;
    }
    .full-contact {
        display: flex;
        flex-wrap: wrap;
        height: 118px;
        .left-contact {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            height: 100%;
            p {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
            }
            button {
                padding: 16px 110px;
                border-radius: 2px 0px 0px 0px;
                background-color: #D8D8D8;
                font-family: Space Mono;
                font-size: 12px;
                line-height: 17.77px;
                margin-right: 16px;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: #000000;
                    color: white;
                    font-weight: 700;
                }
            }
        }
        .right-contact {
            height: 100%;
            display: flex;
            position: relative;
            justify-content: flex-end;
            flex: 1;
            align-items: flex-end;
            gap: 30px;
            .nav-thumbnail-preview {
                position: absolute;
                top: 10px;
                right: 0;
                width: 81px;
                height: 71px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
                z-index: 10;
                img {
                    width: 81px;
                    height: 71px;
                    object-fit: cover;
                }
            }            
            a {
                font-size: 25px;
                text-decoration: none;
                margin-bottom: 10px;
            }
        }
    }
    .post {
        display: flex;
        flex: 1;
        overflow: hidden;
    }
    .post-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 28px;
        justify-content: flex-end;
        min-height: 0;
        overflow: auto;
        .post-title {
            font-family: Space Mono;
            font-size: 66px;
            font-weight: 400;
            font-style: italic;
            line-height: 58px;
            text-transform: uppercase;
            margin: 0;
            width: 50%;
        }
        .post-info {
            display: flex;
            flex-direction: column;
            gap: 28px;
                div {
                font-family: Space Mono;
                font-size: 14px;
                line-height: 20.73px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                }
        }
        .separator {
            margin: 0;
            height: 1px;
            background-color: black;
            border: none;
            margin: 12px 16px 0 0;
        }
    }
    .post-right {
        min-height: 0;
        display: flex;
        flex: 1;
        .post-image {
            img {
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

// Responsive - Single
@media screen and (max-width: 800px) {
    .main-single {
        padding: 20px 0 0 0;
        height: auto;
        .full-contact {
            height: auto;
            .left-contact {
                flex-direction: column;
                padding-block: 28px 22px;
                gap: 15px;
                p {
                    margin: 0;
                }
            }
            .right-contact {
                display: none;
            }
        }
        .post {
            flex-direction: column-reverse;
            gap: 25px;
            .post-left {
                min-height: unset;
                overflow: unset;
                gap: 25px;
                .post-info {
                  gap: 25px;
                  padding: 0 58px;
                }
                .post-title {
                    padding: 0 58px;
                    font-weight: 400;
                    font-size: 46px;
                    line-height: 48px;  
                    display: flex;
                    flex-wrap: wrap;         
                    width: auto;  
                }
                .separator {
                    margin: 12px 0px 0 0;
                }
            }
            .post-right {
                padding: 0 58px;
                .post-image {
                    img {
                        height: auto;
                    }
                }
            }
        }
    }
    .related-photo {
        padding: 32px 0 24px 0;
        gap: 28px;
        #photo-gallery {
            #related-photos {
                margin-bottom: 0;
            }
        }
    }
}