body {
  max-width: 1440px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 140px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.031372549);
}
header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px;
}
header ul a {
  font-family: Space Mono;
  font-size: 16px;
  line-height: 23.7px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
header ul a:hover {
  font-weight: 700;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .image-banner {
  position: relative;
}
.banner .titre-banner {
  position: absolute;
  font-family: Space Mono;
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: 142px;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #fff;
  margin: 15% auto;
  width: 597px;
  overflow: hidden;
  padding-block: 18px 28px;
}
.modal .modal-content .wpcf7 {
  display: flex;
  justify-content: center;
}
.modal .modal-content .envoyer {
  width: 263px;
  height: 50px;
  border: none;
  background-color: #D8D8D8;
}
.modal .modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 25px;
  padding-inline: 130px;
}
.modal .modal-content form p {
  margin: 0;
  width: 100%;
}
.modal .modal-content form label {
  max-width: 255px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}
.modal .modal-content form label textarea {
  padding: 8px;
  height: 192px;
  max-width: 245px;
}
.modal .modal-content form label input {
  height: 40px;
  max-width: 100%;
}

.main-gallery, .related-photo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 140px;
  margin-block: 80px 40px;
  gap: 40px;
}
.main-gallery h2, .related-photo h2 {
  font-family: Space Mono;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-transform: uppercase;
}
.main-gallery .gallery-filters, .related-photo .gallery-filters {
  display: flex;
  justify-content: space-between;
}
.main-gallery .gallery-filters .filter-container, .related-photo .gallery-filters .filter-container {
  position: relative;
  display: inline-block;
}
.main-gallery .gallery-filters .filter-container .dropdown-open, .related-photo .gallery-filters .filter-container .dropdown-open {
  border-radius: 8px 8px 0 0;
  border: 1.3px solid #215AFF;
}
.main-gallery .gallery-filters .filter-container .dropdown-open img, .related-photo .gallery-filters .filter-container .dropdown-open img {
  transform: rotate(180deg);
}
.main-gallery .gallery-filters .filter-container button, .related-photo .gallery-filters .filter-container button {
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 3px;
  width: 260px;
  height: 42px;
  justify-content: space-between;
  border-radius: 8px;
  border: 1.3px solid #B8BBC2;
  padding: 11px 18px;
  display: flex;
  cursor: pointer;
  align-items: center;
  background-color: white;
}
.main-gallery .gallery-filters .filter-container button:hover, .related-photo .gallery-filters .filter-container button:hover {
  border: 1.3px solid #215AFF;
}
.main-gallery .gallery-filters .filter-container .dropdown-content, .related-photo .gallery-filters .filter-container .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  border-radius: 0 0 8px 8px;
  padding-top: 50px;
}
.main-gallery .gallery-filters .filter-container .dropdown-content label, .related-photo .gallery-filters .filter-container .dropdown-content label {
  display: block;
  cursor: pointer;
  padding: 12px 18px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 3px;
  text-transform: capitalize;
}
.main-gallery .gallery-filters .filter-container .dropdown-content label:hover, .related-photo .gallery-filters .filter-container .dropdown-content label:hover {
  background-color: #E00000;
  color: white;
}
.main-gallery .gallery-filters .filter-container .dropdown-content label input[type=radio], .related-photo .gallery-filters .filter-container .dropdown-content label input[type=radio] {
  display: none;
}
.main-gallery .gallery-filters .category-format-filters, .related-photo .gallery-filters .category-format-filters {
  display: flex;
  gap: 34px;
}
.main-gallery #photo-gallery, .related-photo #photo-gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main-gallery #photo-gallery #related-photos, .related-photo #photo-gallery #related-photos {
  margin-bottom: 70px;
}
.main-gallery #photo-gallery .gallery-content, .related-photo #photo-gallery .gallery-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.main-gallery #photo-gallery .gallery-content .photo-item:hover .photo-overlay, .related-photo #photo-gallery .gallery-content .photo-item:hover .photo-overlay {
  opacity: 1;
}
.main-gallery #photo-gallery .gallery-content .photo-item, .related-photo #photo-gallery .gallery-content .photo-item {
  position: relative;
  display: flex;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons {
  display: flex;
  flex-direction: column;
  margin-block: 12px 18px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .fullscreen-icon, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .fullscreen-icon {
  cursor: pointer;
  background: black;
  margin-right: 18px;
  border-radius: 50%;
  padding: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: self-end;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .fullscreen-icon img, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .fullscreen-icon img {
  width: 14px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .eye-icon, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .eye-icon {
  cursor: pointer;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .eye-icon img, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .eye-icon img {
  width: 46px;
  height: 31px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .category-title, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .category-title {
  display: flex;
  justify-content: space-between;
  padding-inline: 18px 24px;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .category-title .photo-category, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .category-title .photo-category {
  font-family: Space Mono;
  font-size: 14px;
  line-height: 20.73px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}
.main-gallery #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .category-title .photo-title, .related-photo #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .category-title .photo-title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: white;
  text-transform: uppercase;
}
.main-gallery #photo-gallery .gallery-content .photo-item img, .related-photo #photo-gallery .gallery-content .photo-item img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 495px;
}
.main-gallery #photo-gallery #load-more-btn, .related-photo #photo-gallery #load-more-btn {
  font-family: Space Mono;
  font-size: 12px;
  line-height: 18px;
  margin: auto;
  border: none;
  border-radius: 2px;
  background-color: #D8D8D8;
  padding: 16px 92px;
  cursor: pointer;
}
.main-gallery #photo-gallery #load-more-btn:hover, .related-photo #photo-gallery #load-more-btn:hover {
  font-weight: 700;
  color: white;
  background-color: black;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.lightbox .lightbox-content {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}
.lightbox .lightbox-content img {
  max-height: 80vh;
}
.lightbox .lightbox-content #prev-photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  left: 20px;
  font-family: Space Mono;
  font-size: 12px;
  line-height: 18px;
  gap: 5px;
  align-items: flex-end;
}
.lightbox .lightbox-content #prev-photo:hover {
  font-weight: 700;
}
.lightbox .lightbox-content #prev-photo:hover span {
  font-size: 34px;
  margin-bottom: 4px;
}
.lightbox .lightbox-content #prev-photo span {
  font-size: 25px;
  margin-bottom: 2px;
}
.lightbox .lightbox-content #next-photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  right: 20px;
  font-family: Space Mono;
  font-size: 12px;
  line-height: 18px;
  gap: 5px;
  align-items: flex-end;
}
.lightbox .lightbox-content #next-photo:hover {
  font-weight: 700;
}
.lightbox .lightbox-content #next-photo:hover span {
  font-size: 34px;
  margin-bottom: 4px;
}
.lightbox .lightbox-content #next-photo span {
  font-size: 25px;
  margin-bottom: 2px;
}
.lightbox .lightbox-content .lightbox-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.lightbox .lightbox-content .lightbox-info #lightbox-reference {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}
.lightbox .lightbox-content .lightbox-info #lightbox-category {
  font-family: Space Mono;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}

footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 100px;
}
footer button {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 5px 10px;
  text-transform: uppercase;
}
footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 80px;
}
footer ul .all-right-reserved {
  font-family: Space Mono;
  font-size: 16px;
  line-height: 23.7px;
  color: black;
  text-transform: uppercase;
}
footer ul a {
  font-family: Space Mono;
  font-size: 16px;
  line-height: 23.7px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
footer ul a:hover {
  font-weight: 700;
}

.main-single {
  padding: 30px 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-single .after-contact {
  margin: 0;
  border: none;
  background-color: black;
  width: 100%;
  height: 1px;
  align-self: flex-end;
}
.main-single .full-contact {
  display: flex;
  flex-wrap: wrap;
  height: 118px;
}
.main-single .full-contact .left-contact {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}
.main-single .full-contact .left-contact p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.main-single .full-contact .left-contact button {
  padding: 16px 110px;
  border-radius: 2px 0px 0px 0px;
  background-color: #D8D8D8;
  font-family: Space Mono;
  font-size: 12px;
  line-height: 17.77px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}
.main-single .full-contact .left-contact button:hover {
  background-color: #000000;
  color: white;
  font-weight: 700;
}
.main-single .full-contact .right-contact {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-end;
  gap: 30px;
}
.main-single .full-contact .right-contact .nav-thumbnail-preview {
  position: absolute;
  top: 10px;
  right: 0;
  width: 81px;
  height: 71px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
  z-index: 10;
}
.main-single .full-contact .right-contact .nav-thumbnail-preview img {
  width: 81px;
  height: 71px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-single .full-contact .right-contact a {
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 10px;
}
.main-single .post {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.main-single .post-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: flex-end;
  min-height: 0;
  overflow: auto;
}
.main-single .post-left .post-title {
  font-family: Space Mono;
  font-size: 66px;
  font-style: italic;
  line-height: 58px;
  text-transform: uppercase;
  margin: 0;
  width: 50%;
}
.main-single .post-left .post-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.main-single .post-left .post-info div {
  font-family: Space Mono;
  font-size: 14px;
  line-height: 20.73px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.main-single .post-left .separator {
  margin: 0;
  height: 1px;
  background-color: black;
  border: none;
  margin: 12px 16px 0 0;
}
.main-single .post-right {
  min-height: 0;
  display: flex;
  flex: 1;
}
.main-single .post-right .post-image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}/*# sourceMappingURL=theme.css.map */