body {
  max-width: 1440px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 140px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.031372549);
}
header ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px;
}
header ul a {
  font-family: Space Mono;
  font-size: 16px;
  line-height: 23.7px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
header ul a:hover {
  font-weight: 700;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .image-banner {
  position: relative;
}
.banner .titre-banner {
  position: absolute;
  font-family: Space Mono;
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: 142px;
  -webkit-text-stroke: 2px white;
  color: transparent;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  background-color: #fff;
  margin: 15% auto;
  width: 597px;
  overflow: hidden;
  padding-block: 18px 28px;
}
.modal .modal-content .wpcf7 {
  display: flex;
  justify-content: center;
}
.modal .modal-content .envoyer {
  width: 263px;
  height: 50px;
  border: none;
  background-color: #D8D8D8;
}
.modal .modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-top: 25px;
  padding-inline: 130px;
}
.modal .modal-content form p {
  margin: 0;
  width: 100%;
}
.modal .modal-content form label {
  max-width: 255px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}
.modal .modal-content form label textarea {
  padding: 8px;
  height: 192px;
  max-width: 245px;
}
.modal .modal-content form label input {
  height: 40px;
  max-width: 100%;
}

.main-gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 140px;
  margin-block: 80px;
  gap: 40px;
}
.main-gallery .gallery-filters {
  display: flex;
  justify-content: space-between;
}
.main-gallery .gallery-filters select {
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
  padding: 11px 18px;
  border-radius: 8px;
  border: 1.3px solid #B8BBC2;
  display: flex;
  width: 260px;
  justify-content: space-between;
}
.main-gallery .gallery-filters .category-format-filters {
  display: flex;
  gap: 34px;
}
.main-gallery .gallery-filters .category-format-filters select {
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.03em;
  padding: 11px 18px;
  border-radius: 8px;
  border: 1.3px solid #B8BBC2;
  display: flex;
  width: 260px;
  justify-content: space-between;
}
.main-gallery button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  border-radius: 2px;
  border: none;
  background-color: #D8D8D8;
  padding: 18px 98px;
  font-family: Space Mono;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}
.main-gallery button:hover {
  background-color: #000000;
  color: white;
  font-weight: 700;
}
.main-gallery .gallery-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.main-gallery .gallery-content .photo-item:hover .photo-overlay {
  opacity: 1;
}
.main-gallery .gallery-content .photo-thumbnail {
  position: relative;
  display: flex;
}
.main-gallery .gallery-content .photo-thumbnail .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  cursor: pointer;
}
.main-gallery .gallery-content .photo-thumbnail .photo-overlay .photo-icons {
  display: flex;
  flex-direction: column;
  margin-block: 12px 18px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.main-gallery .gallery-content .photo-thumbnail .photo-overlay .photo-icons .fullscreen-icon {
  background: black;
  margin-right: 18px;
  border-radius: 50%;
  padding: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: self-end;
}
.main-gallery .gallery-content .photo-thumbnail .photo-overlay .photo-icons .fullscreen-icon img {
  width: 14px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-gallery .gallery-content .photo-thumbnail .photo-overlay .photo-icons .eye-icon img {
  width: 46px;
  height: 31px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-gallery .gallery-content .photo-thumbnail .photo-overlay .photo-icons .category-title {
  display: flex;
  justify-content: space-between;
  padding-inline: 18px 24px;
}
.main-gallery .gallery-content .photo-thumbnail .photo-overlay .photo-icons .category-title .photo-category {
  font-family: Space Mono;
  font-size: 14px;
  line-height: 20.73px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}
.main-gallery .gallery-content .photo-thumbnail .photo-overlay .photo-icons .category-title .photo-title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: white;
  text-transform: uppercase;
}
.main-gallery .gallery-content .photo-thumbnail img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
.lightbox.active {
  opacity: 1;
  visibility: visible;
}
.lightbox .lightbox-content {
  position: relative;
  text-align: center;
}
.lightbox .lightbox-content .lightbox-img {
  max-height: 90vh;
  display: block;
  margin: 0 auto;
}
.lightbox .lightbox-content .category-reference {
  display: flex;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  justify-content: space-between;
}
.lightbox .lightbox-content .category-reference .photo-reference {
  font-weight: bold;
  display: block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
  color: white;
}
.lightbox .lightbox-content .category-reference .photo-category {
  font-family: Space Mono;
  font-size: 14px;
  line-height: 20.73px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}

.lightbox-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-family: Space Mono;
  font-size: 12px;
  line-height: 17.77px;
  color: white;
  align-items: flex-end;
  gap: 10px;
  left: 20px;
}
.lightbox-prev:hover {
  font-weight: 700;
}
.lightbox-prev:hover span {
  font-size: 34px;
  margin-bottom: 3px;
}
.lightbox-prev span {
  font-size: 25px;
  margin-bottom: 3px;
}

.lightbox-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-family: Space Mono;
  font-size: 12px;
  line-height: 17.77px;
  color: white;
  align-items: flex-end;
  gap: 10px;
  right: 20px;
}
.lightbox-next:hover {
  font-weight: 700;
}
.lightbox-next:hover span {
  font-size: 34px;
}
.lightbox-next span {
  font-size: 25px;
  margin-bottom: 2px;
}

footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 100px;
}
footer button {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 5px 10px;
  text-transform: uppercase;
}
footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 80px;
}
footer ul .all-right-reserved {
  font-family: Space Mono;
  font-size: 16px;
  line-height: 23.7px;
  color: black;
  text-transform: uppercase;
}
footer ul a {
  font-family: Space Mono;
  font-size: 16px;
  line-height: 23.7px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.main-single {
  padding: 30px 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-single .after-contact {
  margin: 0;
  border: none;
  background-color: black;
  width: 100%;
  height: 1px;
  align-self: flex-end;
}
.main-single .full-contact {
  display: flex;
  flex-wrap: wrap;
  height: 118px;
}
.main-single .full-contact .left-contact {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}
.main-single .full-contact .left-contact p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.main-single .full-contact .left-contact button {
  padding: 16px 110px;
  border-radius: 2px 0px 0px 0px;
  background-color: #D8D8D8;
  font-family: Space Mono;
  font-size: 12px;
  line-height: 17.77px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}
.main-single .full-contact .left-contact button:hover {
  background-color: #000000;
  color: white;
  font-weight: 700;
}
.main-single .full-contact .right-contact {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-end;
  gap: 30px;
}
.main-single .full-contact .right-contact .nav-thumbnail-preview {
  position: absolute;
  top: 10px;
  right: 0;
  width: 81px;
  height: 71px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
  z-index: 10;
}
.main-single .full-contact .right-contact .nav-thumbnail-preview img {
  width: 81px;
  height: 71px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-single .full-contact .right-contact a {
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 10px;
}
.main-single .post {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.main-single .post-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: flex-end;
  min-height: 0;
  overflow: auto;
}
.main-single .post-left .post-title {
  font-family: Space Mono;
  font-size: 66px;
  font-style: italic;
  line-height: 58px;
  text-transform: uppercase;
  margin: 0;
  width: 50%;
}
.main-single .post-left .post-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.main-single .post-left .post-info div {
  font-family: Space Mono;
  font-size: 14px;
  line-height: 20.73px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.main-single .post-left .separator {
  margin: 0;
  height: 1px;
  background-color: black;
  border: none;
  margin: 12px 16px 0 0;
}
.main-single .post-right {
  min-height: 0;
  display: flex;
  flex: 1;
}
.main-single .post-right .post-image img {
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}

.related-photo {
  display: flex;
  flex-direction: column;
  gap: 52px;
  padding: 80px 140px 110px 140px;
}
.related-photo h2 {
  font-family: "Space Mono";
  font-size: 18px;
  line-height: 26.66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}
.related-photo .related-photo-container {
  display: flex;
  gap: 32px;
}
.related-photo .related-photo-container .photo-item {
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
}
.related-photo .related-photo-container .photo-item a {
  display: block;
  position: relative;
}
.related-photo .related-photo-container .photo-item a img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.related-photo .related-photo-container .photo-item a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}
.related-photo .related-photo-container .photo-item a .overlay .photo-icons {
  display: flex;
  flex-direction: column;
  margin-block: 12px 18px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.related-photo .related-photo-container .photo-item a .overlay .photo-icons .fullscreen-icon {
  background: black;
  margin-right: 18px;
  border-radius: 50%;
  padding: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: self-end;
}
.related-photo .related-photo-container .photo-item a .overlay .photo-icons .fullscreen-icon img {
  width: 14px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}
.related-photo .related-photo-container .photo-item a .overlay .photo-icons .eye-icon img {
  width: 46px;
  height: 31px;
  -o-object-fit: contain;
     object-fit: contain;
}
.related-photo .related-photo-container .photo-item a .overlay .photo-icons .category-title {
  display: flex;
  justify-content: space-between;
  padding-inline: 18px 24px;
}
.related-photo .related-photo-container .photo-item a .overlay .photo-icons .category-title .photo-category {
  font-family: Space Mono;
  font-size: 14px;
  line-height: 20.73px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}
.related-photo .related-photo-container .photo-item a .overlay .photo-icons .category-title .photo-title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: white;
  text-transform: uppercase;
}
.related-photo .related-photo-container .photo-item:hover a .overlay {
  opacity: 1;
}/*# sourceMappingURL=theme.css.map */