body {
    max-width: 1440px;
    margin: auto;
    background-color: #05161a;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 50px;
    position: relative;
    .empty-div {
        display: flex;
        flex: 1;
    }
    .logo-container {
        display: flex;
        flex: 1;
        justify-content: center;
        img {
            height: 80px;   
            object-fit: contain;
        }
    }
    .main-nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 40px;
            li {
                a {
                    font-family: "Karla", sans-serif;
                    font-size: 16px;
                    color: #00d4ff;
                    text-decoration: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:hover {
                        font-weight: 700;
                        color: #17ffec;
                    }
                }
            }
        }
    }
}

// Responsive - Header
@media screen and (max-width: 800px) {
    header {
        justify-content: center;
        .empty-div {
            display: none;   
        }
        .main-nav {
        display: none;
        }
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
        .image-banner {
        position: relative;
        width: 100%;
        height: 400px;
        opacity: 65%;
        }
        .title-sub-banner {
        position: absolute;
        text-align: center;
        }
        .titre-banner {
        font-family: "Karla", sans-serif;
        font-size: 96px;
        font-style: italic;
        font-weight: 700;
        line-height: 142px;
        -webkit-text-stroke: 2px white;
        color: transparent;
        margin: 0;
        }
        .sub-banner {
        font-family: "Karla", sans-serif;
        font-size: 48px;
        font-style: italic;
        font-weight: 700;
        line-height: 142px;
        -webkit-text-stroke: 2px white;
        color: transparent;
        margin: 0;
        }
    }

// Responsive - Banner
@media screen and (max-width: 800px) {
    .banner {
        .image-banner {
            height: 300px;
        }
        .titre-banner {
            font-size: 40px;
            line-height: 41px;
        }
        .sub-banner {
            font-size: 30px;
            line-height: 41px;
        }
    }
}

.a-propos {
    max-width: 1100px;
    margin: auto;
    h3 {
        font-size: 40px;
        color: #00C8FF;
        font-family: "Karla", sans-serif;
        font-weight: 800;
        }
    .photo-description .my-photo.visible {
        opacity: 1;
        transform: translateX(0);
    }
    .photo-description .description.visible {
        opacity: 1;
        transform: translateX(0);
    }
    .photo-description {
        display: flex;
        gap: 60px;
        .my-photo {
        display: flex;
        align-items: center;
        opacity: 0;
        transform: translateX(-100px); // Déplacement initial de droite à gauche
        transition: all 2.5s ease-in-out; // Transition lente et fluide
            img {
            height: 255px;
            }
        }
        .description {
            display: flex;
            flex-direction: column;
            gap: 16px;
            opacity: 0;
            transform: translateX(100px); // Déplacement initial de droite à gauche
            transition: all 2.5s ease-in-out; // Transition lente et fluide
            .formation {
                font-size: 26px;
                color: #17ffec;
                font-family: "Karla", sans-serif;
                font-weight: 800;
            }
            .competence {
                display: flex;
                .left {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    gap: 10px;
                    flex: 1;
                    li {
                        display: flex;
                        align-items: center;
                        color: #F5F5F5;
                        list-style: none;
                        gap: 10px;
                        font-family: "Karla", sans-serif;
                        img {
                            width: auto;
                            max-height: 40px;
                        }
                    }
                }
                .right {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    flex-direction: column;
                    gap: 10px;
                    flex: 1;
                    li {
                        display: flex;
                        align-items: center;
                        color: #F5F5F5;
                        list-style: none;
                        gap: 10px;
                        font-family: "Karla", sans-serif;
                        img {
                            width: auto;
                            max-height: 40px;
                        }
                    }
                }
            }
            p {
            margin: 0;
            font-size: 20px;
            text-align: justify;
            color: #F5F5F5;
            font-family: "Karla", sans-serif;
                strong {
                color: #17ffec;
                }
                .first-letter {
                color: blueviolet;
                font-size: 30px;
                }
            }            
        }
    }
    .tooltip a {
        position: relative;
        display: inline-block;
        color: #17ffec;
    }
    .tooltip a img {
        position: absolute;
        bottom: -150px;
        left: 0;
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.5);
        opacity: 0;
        transform: scale(0.8);
        transition: all 0.3s ease-in-out;
        z-index: 10;
        pointer-events: none; /* Empêche le survol de l'image */
    }
    .tooltip a:hover img {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1100px) {
.a-propos {
    padding: 0 15px;
    .photo-description {
        flex-direction: column;
        gap: 20px;
    }
}
}

.mes-projets {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 140px 40px 140px;
    gap: 40px;
    h3 {
        font-size: 40px;
        color: #00C8FF;
        font-family: "Karla", sans-serif;
        font-weight: 800;
        margin: 0;
    }
    #photo-gallery {
        display: flex;
        flex-direction: column;
        gap: 40px;
        #related-photos {
            margin-bottom: 70px;
        }
        .gallery-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
            .photo-item:hover .photo-overlay {
                opacity: 1;
            }
            .photo-item {
                position: relative;
                &:hover {
                    .overlay img {
                        opacity: 1;
                    }
                    .project-title {
                        display: none;
                    }
                }
                .overlay {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .project-title {
                        position: absolute;
                        transition: opacity 0.3s ease;
                        text-align: center;
                        h3 {
                            font-size: 40px;
                            color: #ffffff;
                            font-family: "Karla", sans-serif;
                        }
                    }
                }
                .photo-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    text-align: center;
                    .photo-icons {
                        display: flex;
                        flex-direction: column;
                        margin-block: 12px 18px;
                        width: 100%;
                        height: 100%;
                        justify-content: space-between;
                        .fullscreen-icon {
                            cursor: pointer;
                            background: black;
                            margin-right: 18px;
                            border-radius: 50%;
                            padding: 10px;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-self: self-end;
                            img {
                                width: 14px;
                                height: 14px;
                                object-fit: contain;
                            }
                        }
                    }
                }
                img {
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    width: 100%;
                    height: 495px;
                    opacity: 40%;
                    transition: opacity 0.3s ease;
                }
            }
        }
        #load-more-btn {
            font-family: "Karla", sans-serif;
            font-size: 16px;
            line-height: 18px;
            margin: auto;
            border: none;
            border-radius: 2px;
            background-color: #00C8FF;
            padding: 16px 92px;
            cursor: pointer;
            &:hover {
                font-weight: 700;     
                background-color: #17ffec;
            }
        }
    }
}

// Responsive - Projets
@media screen and (max-width: 800px) {
    .mes-projets, .related-photo {
        padding: 40px 15px;
        h2 {
            margin: 0;
            text-align: center;
        }
        .gallery-filters {
            flex-direction: column;
            gap: 8px;
            .filter-container {
                button {
                    width: 270px;
                }
            }
        }
        #photo-gallery {
            gap: 70px;
            .gallery-content {
                grid-template-columns: repeat(1,1fr);
                gap: 20px;
                .photo-item {
                    img {
                        height: 278px;
                    }
                }
            }
        }
    }
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    .lightbox-content {
        text-align: center;
        color: #F5F5F5;
        display: flex;
        flex-direction: column;
        img {
            max-height: 80vh;
        }
        #prev-photo {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            color: #F5F5F5;
            border: none;
            cursor: pointer;
            left: 20px;
            font-family: "Karla", sans-serif;
            font-size: 12px;
            line-height: 18px;
            gap: 5px;
            align-items: flex-end;
            &:hover {
                font-weight: 700;
                span {
                font-size: 34px;
                margin-bottom: 4px;
                }
            }
            span {
                font-size: 25px;
                margin-bottom: 2px;
            }
        }
        #next-photo {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            color: #F5F5F5;
            border: none;
            cursor: pointer;
            right: 20px;
            font-family: "Karla", sans-serif;
            font-size: 12px;
            line-height: 18px;
            gap: 5px;
            align-items: flex-end;
            &:hover {
                font-weight: 700;
                span {
                font-size: 34px;
                margin-bottom: 4px;
                }
            }
            span {
                font-size: 25px;
                margin-bottom: 2px;
            }
        }
        .lightbox-info {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            h3 {
                font-size: 26px;
                color: #17ffec;
            }
        }
    }
}

// Responsive - Lightbox
@media screen and (max-width: 800px) {
    .lightbox {
        .lightbox-content {
            img {
                max-height: 70vh;
                max-width: 100%;
            }
            #prev-photo {
                top: 90%;
            }
            #next-photo {
                top: 90%;
            }
            .lightbox-info {
                padding-inline: 10px;
            }
        }
    }
}

footer {
    border-top: 1px solid #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;
        ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 80px; 
        .all-right-reserved {
            font-family: "Karla", sans-serif;
            font-size: 16px;
            line-height: 23.7px;
            color: #f5f5f5;
            text-transform: uppercase;
        }
        a {
            font-family: "Karla", sans-serif;
            font-size: 16px;
            line-height: 23.7px;
            color: #f5f5f5;      
            text-decoration: none;
            text-transform: uppercase;
                &:hover {
                    font-weight: 700;
                    color: #17ffec;
                }
        }
    }
}

// Responsive - Footer
@media screen and (max-width: 800px) {
    footer {
        padding-block: 48px;
        ul {
            flex-direction: column;
            gap: 35px;
            text-align: center;
        }
    }
}

.main-single {
    padding: 30px 140px 0 140px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .after-contact {
        margin: 0;
        border: none;
        background-color: black;
        width: 100%;
        height: 1px;
        align-self: flex-end;
    }
    .full-contact {
        display: flex;
        flex-wrap: wrap;
        height: 118px;
        .left-contact {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            height: 100%;
            p {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
            }
            button {
                padding: 16px 110px;
                border-radius: 2px 0px 0px 0px;
                background-color: #D8D8D8;
                font-family: "Karla", sans-serif;
                font-size: 12px;
                line-height: 17.77px;
                margin-right: 16px;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: #000000;
                    color: white;
                    font-weight: 700;
                }
            }
        }
        .right-contact {
            height: 100%;
            display: flex;
            position: relative;
            justify-content: flex-end;
            flex: 1;
            align-items: flex-end;
            gap: 30px;
            .nav-thumbnail-preview {
                position: absolute;
                top: 10px;
                right: 0;
                width: 81px;
                height: 71px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
                z-index: 10;
                img {
                    width: 81px;
                    height: 71px;
                    object-fit: cover;
                }
            }            
            a {
                font-size: 25px;
                text-decoration: none;
                margin-bottom: 10px;
            }
        }
    }
    .post {
        display: flex;
        flex: 1;
        overflow: hidden;
    }
    .post-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 28px;
        justify-content: flex-end;
        min-height: 0;
        overflow: auto;
        .post-title {
            font-family: "Karla", sans-serif;
            font-size: 66px;
            font-weight: 400;
            font-style: italic;
            line-height: 58px;
            text-transform: uppercase;
            margin: 0;
            width: 50%;
        }
        .post-info {
            display: flex;
            flex-direction: column;
            gap: 28px;
                div {
                font-family: "Karla", sans-serif;
                font-size: 14px;
                line-height: 20.73px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                }
        }
        .separator {
            margin: 0;
            height: 1px;
            background-color: black;
            border: none;
            margin: 12px 16px 0 0;
        }
    }
    .post-right {
        min-height: 0;
        display: flex;
        flex: 1;
        .post-image {
            img {
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

// Responsive - Single
@media screen and (max-width: 800px) {
    .main-single {
        padding: 20px 0 0 0;
        height: auto;
        .full-contact {
            height: auto;
            .left-contact {
                flex-direction: column;
                padding-block: 28px 22px;
                gap: 15px;
                p {
                    margin: 0;
                }
            }
            .right-contact {
                display: none;
            }
        }
        .post {
            flex-direction: column-reverse;
            gap: 25px;
            .post-left {
                min-height: unset;
                overflow: unset;
                gap: 25px;
                .post-info {
                  gap: 25px;
                  padding: 0 58px;
                }
                .post-title {
                    padding: 0 58px;
                    font-weight: 400;
                    font-size: 46px;
                    line-height: 48px;  
                    display: flex;
                    flex-wrap: wrap;         
                    width: auto;  
                }
                .separator {
                    margin: 12px 0px 0 0;
                }
            }
            .post-right {
                padding: 0 58px;
                .post-image {
                    img {
                        height: auto;
                    }
                }
            }
        }
    }
    .related-photo {
        padding: 32px 0 24px 0;
        gap: 28px;
        #photo-gallery {
            #related-photos {
                margin-bottom: 0;
            }
        }
    }
}