body {
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
    box-shadow: 0px 4px 14px 0px #00000008;
        ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 40px;
            a {
            font-family: Space Mono;
            font-size: 16px;
            line-height: 23.7px;
            color: black;      
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
                &:hover {
                font-weight: 700;
                }
            }
        }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
        .image-banner {
        position: relative;
        }
        .titre-banner {
        position: absolute;
        font-family: Space Mono;
        font-size: 96px;
        font-style: italic;
        font-weight: 700;
        line-height: 142px;
        -webkit-text-stroke: 2px white;
        color: transparent;
        }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        width: 597px;
        overflow: hidden;
        padding-block: 18px 28px;
        .wpcf7 {
        display: flex;
        justify-content: center;
        }
        .envoyer {
        width: 263px;
        height: 50px;
        border: none;
        background-color: #D8D8D8;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 18px;
            margin-top: 25px;
            padding-inline: 130px;
            p {
            margin: 0;
            width: 100%;
            }
            label {
            max-width: 255px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-family: Poppins;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-transform: uppercase;
                textarea {
                padding: 8px;
                height: 192px;
                max-width: 245px;
                }
                input {
                height: 40px;
                max-width: 100%;
                }
            }
        }
    }
}

.main-gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-inline: 140px;
    margin-block: 80px;
    gap: 40px;
    .gallery-filters {
        display: flex;
        justify-content: space-between;
        select {
            text-transform: uppercase;
            font-family: Poppins;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0.03em;
            padding: 11px 18px;
            border-radius: 8px;
            border: 1.3px solid #B8BBC2;
            display: flex;
            width: 260px;
            justify-content: space-between;
        }
        .category-format-filters {
            display: flex;
            gap: 34px;
            select {
                text-transform: uppercase;
                font-family: Poppins;
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: 0.03em;
                padding: 11px 18px;
                border-radius: 8px;
                border: 1.3px solid #B8BBC2;
                display: flex;
                width: 260px;
                justify-content: space-between;
            }
        }
    }
    button {
        display: flex;
        width: fit-content;
        align-self: center;
        border-radius: 2px;
        border: none;
        background-color: #D8D8D8;
        padding: 18px 98px;
        font-family: Space Mono;
        font-size: 12px;
        line-height: 18px;
        &:hover {
            background-color: #000000;
            color: white;
            font-weight: 700;
        }
    }
    .gallery-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        .photo-item:hover .photo-overlay {
            opacity: 1;
        }
        .photo-thumbnail {
            position: relative;
            display: flex;
            .photo-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000099;
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s ease;
                text-align: center;
                cursor: pointer;
                .photo-icons {
                    display: flex;
                    flex-direction: column;
                    margin-block: 12px 18px;
                    width: 100%;
                    height: 100%;
                    justify-content: space-between;
                    .fullscreen-icon {
                    background: black;
                    margin-right: 18px;
                    border-radius: 50%;
                    padding: 10px;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-self: self-end;
                        img {
                            width: 14px;
                            height: 14px;
                            object-fit: contain;
                        }
                    }
                    .eye-icon {
                        img {
                            width: 46px;
                            height: 31px;
                            object-fit: contain;
                        }
                    }
                    .category-title {
                        display: flex;
                        justify-content: space-between;
                        padding-inline: 18px 24px;
                        .photo-category {
                            font-family: Space Mono;
                            font-size: 14px;
                            line-height: 20.73px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            color: white;
                        }
                        .photo-title {
                            font-family: Poppins;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 21px;   
                            color: white;
                            text-transform: uppercase;
                        }
                    }
                }
            }
            img {
                aspect-ratio: 1 / 1;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}    

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    .lightbox-content {
        position: relative;
        text-align: center;
        .lightbox-img {
            max-height: 90vh;
            display: block;
            margin: 0 auto;
        }
        .category-reference {
            display: flex;
            margin-top: 10px;
            font-size: 18px;
            text-align: center;
            justify-content: space-between;
            .photo-reference {
                font-weight: bold;
                display: block;
                font-family: Poppins;
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                text-transform: uppercase;
                color: white;
            }
            .photo-category {
                font-family: Space Mono;
                font-size: 14px;
                line-height: 20.73px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: white;
                }
            }
        }
    }
    .lightbox-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-family: Space Mono;
        font-size: 12px;
        line-height: 17.77px;
        color: white;
        align-items: flex-end;
        gap: 10px;
        left: 20px;
        &:hover {
            font-weight: 700;
                span {
                    font-size: 34px;
                    margin-bottom: 3px;
                }
            }
        span {
            font-size: 25px;
            margin-bottom: 3px;
        }
    }
    .lightbox-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-family: Space Mono;
        font-size: 12px;
        line-height: 17.77px;
        color: white;
        align-items: flex-end;
        gap: 10px;
        right: 20px;
        &:hover {
        font-weight: 700;
            span {
                font-size: 34px;
            }
        }
        span {
            font-size: 25px;
            margin-bottom: 2px;
        }
    }

footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 100px;
        button {
            font-family: Poppins;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            padding: 5px 10px;
            text-transform: uppercase;
        }
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 80px; 
            .all-right-reserved {
                font-family: Space Mono;
                font-size: 16px;
                line-height: 23.7px;
                color: black;
                text-transform: uppercase;
            }
            a {
                font-family: Space Mono;
                font-size: 16px;
                line-height: 23.7px;
                color: black;      
                text-decoration: none;
                text-transform: uppercase;
            }
        }
}

.main-single {
    padding: 30px 140px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .after-contact {
        margin: 0;
        border: none;
        background-color: black;
        width: 100%;
        height: 1px;
        align-self: flex-end;
    }
    .full-contact {
        display: flex;
        flex-wrap: wrap;
        height: 118px;
        .left-contact {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            height: 100%;
            p {
                font-family: Poppins;
                font-size: 14px;
                font-weight: 300;
                line-height: 21px;
            }
            button {
                padding: 16px 110px;
                border-radius: 2px 0px 0px 0px;
                background-color: #D8D8D8;
                font-family: Space Mono;
                font-size: 12px;
                line-height: 17.77px;
                margin-right: 16px;
                border: none;
                cursor: pointer;
                &:hover {
                    background-color: #000000;
                    color: white;
                    font-weight: 700;
                }
            }
        }
        .right-contact {
            height: 100%;
            display: flex;
            position: relative;
            justify-content: flex-end;
            flex: 1;
            align-items: flex-end;
            gap: 30px;
            .nav-thumbnail-preview {
                position: absolute;
                top: 10px;
                right: 0;
                width: 81px;
                height: 71px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
                z-index: 10;
                img {
                    width: 81px;
                    height: 71px;
                    object-fit: cover;
                }
            }            
            a {
                font-size: 25px;
                text-decoration: none;
                margin-bottom: 10px;
            }
        }
    }
    .post {
        display: flex;
        flex: 1;
        overflow: hidden;
    }
    .post-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 28px;
        justify-content: flex-end;
        min-height: 0;
        overflow: auto;
        .post-title {
            font-family: Space Mono;
            font-size: 66px;
            font-style: italic;
            line-height: 58px;
            text-transform: uppercase;
            margin: 0;
            width: 50%;
        }
        .post-info {
            display: flex;
            flex-direction: column;
            gap: 28px;
                div {
                font-family: Space Mono;
                font-size: 14px;
                line-height: 20.73px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                }
        }
        .separator {
            margin: 0;
            height: 1px;
            background-color: black;
            border: none;
            margin: 12px 16px 0 0;
        }
    }
    .post-right {
        min-height: 0;
        display: flex;
        flex: 1;
        .post-image {
            img {
                object-fit: fill;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

.related-photo {
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding: 80px 140px 110px 140px;

    h2 {
        font-family: 'Space Mono';
        font-size: 18px;
        line-height: 26.66px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 0;
        font-weight: 400;
    }

    .related-photo-container {
        display: flex;
        gap: 32px;
        .photo-item {
            position: relative;
            display: flex;
            flex: 1;
            overflow: hidden;
            a {
                display: block;
                position: relative;
                img {
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transition: transform 0.3s ease;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #00000099;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    opacity: 0;
                    transition: opacity 0.3s ease;
                    text-align: center;
                    .photo-icons {
                        display: flex;
                        flex-direction: column;
                        margin-block: 12px 18px;
                        width: 100%;
                        height: 100%;
                        justify-content: space-between;
                        .fullscreen-icon {
                            background: black;
                            margin-right: 18px;
                            border-radius: 50%;
                            padding: 10px;
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-self: self-end;
                            img {
                                width: 14px;
                                height: 14px;
                                object-fit: contain;
                            }
                        }
                        .eye-icon {
                            img {
                                width: 46px;
                                height: 31px;
                                object-fit: contain;
                            }
                        }
                        .category-title {
                            display: flex;
                            justify-content: space-between;
                            padding-inline: 18px 24px;
                            .photo-category {
                                font-family: Space Mono;
                                font-size: 14px;
                                line-height: 20.73px;
                                letter-spacing: 0.1em;
                                text-transform: uppercase;
                                color: white;
                            }
                            .photo-title {
                                font-family: Poppins;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 21px;   
                                color: white;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
            &:hover {
                a {
                    .overlay {
                        opacity: 1; // Affiche l'overlay au survol
                    }
                }
            }
        }
    }
}