@charset "UTF-8";
body {
  max-width: 1440px;
  margin: auto;
  background-color: #05161a;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  position: relative;
}
header .empty-div {
  display: flex;
  flex: 1;
}
header .logo-container {
  display: flex;
  flex: 1;
  justify-content: center;
}
header .logo-container img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .main-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
header .main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px;
}
header .main-nav ul li a {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: #00d4ff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
header .main-nav ul li a:hover {
  font-weight: 700;
  color: #17ffec;
}

@media screen and (max-width: 800px) {
  header {
    justify-content: center;
  }
  header .empty-div {
    display: none;
  }
  header .main-nav {
    display: none;
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.banner .image-banner {
  position: relative;
  width: 100%;
  height: 400px;
  opacity: 65%;
}
.banner .title-sub-banner {
  position: absolute;
  text-align: center;
}
.banner .titre-banner {
  font-family: "Karla", sans-serif;
  font-size: 96px;
  font-style: italic;
  font-weight: 700;
  line-height: 142px;
  -webkit-text-stroke: 2px white;
  color: transparent;
  margin: 0;
}
.banner .sub-banner {
  font-family: "Karla", sans-serif;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 142px;
  -webkit-text-stroke: 2px white;
  color: transparent;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .banner .image-banner {
    height: 300px;
  }
  .banner .titre-banner {
    font-size: 40px;
    line-height: 41px;
  }
  .banner .sub-banner {
    font-size: 30px;
    line-height: 41px;
  }
}
.a-propos {
  max-width: 1100px;
  margin: auto;
}
.a-propos h3 {
  font-size: 40px;
  color: #00C8FF;
  font-family: "Karla", sans-serif;
  font-weight: 800;
}
.a-propos .photo-description .my-photo.visible {
  opacity: 1;
  transform: translateX(0);
}
.a-propos .photo-description .description.visible {
  opacity: 1;
  transform: translateX(0);
}
.a-propos .photo-description {
  display: flex;
  gap: 60px;
}
.a-propos .photo-description .my-photo {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(-100px);
  transition: all 2.5s ease-in-out;
}
.a-propos .photo-description .my-photo img {
  height: 255px;
}
.a-propos .photo-description .description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
  transform: translateX(100px);
  transition: all 2.5s ease-in-out;
}
.a-propos .photo-description .description .formation {
  font-size: 26px;
  color: #17ffec;
  font-family: "Karla", sans-serif;
  font-weight: 800;
}
.a-propos .photo-description .description .competence {
  display: flex;
}
.a-propos .photo-description .description .competence .left {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.a-propos .photo-description .description .competence .left li {
  display: flex;
  align-items: center;
  color: #F5F5F5;
  list-style: none;
  gap: 10px;
  font-family: "Karla", sans-serif;
}
.a-propos .photo-description .description .competence .left li img {
  width: auto;
  max-height: 40px;
}
.a-propos .photo-description .description .competence .right {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.a-propos .photo-description .description .competence .right li {
  display: flex;
  align-items: center;
  color: #F5F5F5;
  list-style: none;
  gap: 10px;
  font-family: "Karla", sans-serif;
}
.a-propos .photo-description .description .competence .right li img {
  width: auto;
  max-height: 40px;
}
.a-propos .photo-description .description p {
  margin: 0;
  font-size: 20px;
  text-align: justify;
  color: #F5F5F5;
  font-family: "Karla", sans-serif;
}
.a-propos .photo-description .description p strong {
  color: #17ffec;
}
.a-propos .photo-description .description p .first-letter {
  color: blueviolet;
  font-size: 30px;
}
.a-propos .tooltip a {
  position: relative;
  display: inline-block;
  color: #17ffec;
}
.a-propos .tooltip a img {
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  z-index: 10;
  pointer-events: none; /* Empêche le survol de l'image */
}
.a-propos .tooltip a:hover img {
  opacity: 1;
  transform: scale(1);
}

@media screen and (max-width: 1100px) {
  .a-propos {
    padding: 0 15px;
  }
  .a-propos .photo-description {
    flex-direction: column;
    gap: 20px;
  }
}
.mes-projets {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 80px 140px 40px 140px;
  gap: 40px;
}
.mes-projets h3 {
  font-size: 40px;
  color: #00C8FF;
  font-family: "Karla", sans-serif;
  font-weight: 800;
  margin: 0;
}
.mes-projets #photo-gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mes-projets #photo-gallery #related-photos {
  margin-bottom: 70px;
}
.mes-projets #photo-gallery .gallery-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.mes-projets #photo-gallery .gallery-content .photo-item:hover .photo-overlay {
  opacity: 1;
}
.mes-projets #photo-gallery .gallery-content .photo-item {
  position: relative;
}
.mes-projets #photo-gallery .gallery-content .photo-item:hover .overlay img {
  opacity: 1;
}
.mes-projets #photo-gallery .gallery-content .photo-item:hover .project-title {
  display: none;
}
.mes-projets #photo-gallery .gallery-content .photo-item .overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mes-projets #photo-gallery .gallery-content .photo-item .overlay .project-title {
  position: absolute;
  transition: opacity 0.3s ease;
  text-align: center;
}
.mes-projets #photo-gallery .gallery-content .photo-item .overlay .project-title h3 {
  font-size: 40px;
  color: #ffffff;
  font-family: "Karla", sans-serif;
}
.mes-projets #photo-gallery .gallery-content .photo-item .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}
.mes-projets #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons {
  display: flex;
  flex-direction: column;
  margin-block: 12px 18px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.mes-projets #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .fullscreen-icon {
  cursor: pointer;
  background: black;
  margin-right: 18px;
  border-radius: 50%;
  padding: 10px;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: self-end;
}
.mes-projets #photo-gallery .gallery-content .photo-item .photo-overlay .photo-icons .fullscreen-icon img {
  width: 14px;
  height: 14px;
  -o-object-fit: contain;
     object-fit: contain;
}
.mes-projets #photo-gallery .gallery-content .photo-item img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 495px;
  opacity: 40%;
  transition: opacity 0.3s ease;
}
.mes-projets #photo-gallery #load-more-btn {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: auto;
  border: none;
  border-radius: 2px;
  background-color: #00C8FF;
  padding: 16px 92px;
  cursor: pointer;
}
.mes-projets #photo-gallery #load-more-btn:hover {
  font-weight: 700;
  background-color: #17ffec;
}

@media screen and (max-width: 800px) {
  .mes-projets, .related-photo {
    padding: 40px 15px;
  }
  .mes-projets h2, .related-photo h2 {
    margin: 0;
    text-align: center;
  }
  .mes-projets .gallery-filters, .related-photo .gallery-filters {
    flex-direction: column;
    gap: 8px;
  }
  .mes-projets .gallery-filters .filter-container button, .related-photo .gallery-filters .filter-container button {
    width: 270px;
  }
  .mes-projets #photo-gallery, .related-photo #photo-gallery {
    gap: 70px;
  }
  .mes-projets #photo-gallery .gallery-content, .related-photo #photo-gallery .gallery-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .mes-projets #photo-gallery .gallery-content .photo-item img, .related-photo #photo-gallery .gallery-content .photo-item img {
    height: 278px;
  }
}
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.lightbox .lightbox-content {
  text-align: center;
  color: #F5F5F5;
  display: flex;
  flex-direction: column;
}
.lightbox .lightbox-content img {
  max-height: 80vh;
}
.lightbox .lightbox-content #prev-photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #F5F5F5;
  border: none;
  cursor: pointer;
  left: 20px;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  line-height: 18px;
  gap: 5px;
  align-items: flex-end;
}
.lightbox .lightbox-content #prev-photo:hover {
  font-weight: 700;
}
.lightbox .lightbox-content #prev-photo:hover span {
  font-size: 34px;
  margin-bottom: 4px;
}
.lightbox .lightbox-content #prev-photo span {
  font-size: 25px;
  margin-bottom: 2px;
}
.lightbox .lightbox-content #next-photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #F5F5F5;
  border: none;
  cursor: pointer;
  right: 20px;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  line-height: 18px;
  gap: 5px;
  align-items: flex-end;
}
.lightbox .lightbox-content #next-photo:hover {
  font-weight: 700;
}
.lightbox .lightbox-content #next-photo:hover span {
  font-size: 34px;
  margin-bottom: 4px;
}
.lightbox .lightbox-content #next-photo span {
  font-size: 25px;
  margin-bottom: 2px;
}
.lightbox .lightbox-content .lightbox-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.lightbox .lightbox-content .lightbox-info h3 {
  font-size: 26px;
  color: #17ffec;
}

@media screen and (max-width: 800px) {
  .lightbox .lightbox-content img {
    max-height: 70vh;
    max-width: 100%;
  }
  .lightbox .lightbox-content #prev-photo {
    top: 90%;
  }
  .lightbox .lightbox-content #next-photo {
    top: 90%;
  }
  .lightbox .lightbox-content .lightbox-info {
    padding-inline: 10px;
  }
}
footer {
  border-top: 1px solid #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10px;
}
footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 80px;
}
footer ul .all-right-reserved {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 23.7px;
  color: #f5f5f5;
  text-transform: uppercase;
}
footer ul a {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 23.7px;
  color: #f5f5f5;
  text-decoration: none;
  text-transform: uppercase;
}
footer ul a:hover {
  font-weight: 700;
  color: #17ffec;
}

@media screen and (max-width: 800px) {
  footer {
    padding-block: 48px;
  }
  footer ul {
    flex-direction: column;
    gap: 35px;
    text-align: center;
  }
}
.main-single {
  padding: 30px 140px 0 140px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-single .after-contact {
  margin: 0;
  border: none;
  background-color: black;
  width: 100%;
  height: 1px;
  align-self: flex-end;
}
.main-single .full-contact {
  display: flex;
  flex-wrap: wrap;
  height: 118px;
}
.main-single .full-contact .left-contact {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  height: 100%;
}
.main-single .full-contact .left-contact p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.main-single .full-contact .left-contact button {
  padding: 16px 110px;
  border-radius: 2px 0px 0px 0px;
  background-color: #D8D8D8;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  line-height: 17.77px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}
.main-single .full-contact .left-contact button:hover {
  background-color: #000000;
  color: white;
  font-weight: 700;
}
.main-single .full-contact .right-contact {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-end;
  gap: 30px;
}
.main-single .full-contact .right-contact .nav-thumbnail-preview {
  position: absolute;
  top: 10px;
  right: 0;
  width: 81px;
  height: 71px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
  z-index: 10;
}
.main-single .full-contact .right-contact .nav-thumbnail-preview img {
  width: 81px;
  height: 71px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-single .full-contact .right-contact a {
  font-size: 25px;
  text-decoration: none;
  margin-bottom: 10px;
}
.main-single .post {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.main-single .post-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: flex-end;
  min-height: 0;
  overflow: auto;
}
.main-single .post-left .post-title {
  font-family: "Karla", sans-serif;
  font-size: 66px;
  font-weight: 400;
  font-style: italic;
  line-height: 58px;
  text-transform: uppercase;
  margin: 0;
  width: 50%;
}
.main-single .post-left .post-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.main-single .post-left .post-info div {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  line-height: 20.73px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.main-single .post-left .separator {
  margin: 0;
  height: 1px;
  background-color: black;
  border: none;
  margin: 12px 16px 0 0;
}
.main-single .post-right {
  min-height: 0;
  display: flex;
  flex: 1;
}
.main-single .post-right .post-image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 800px) {
  .main-single {
    padding: 20px 0 0 0;
    height: auto;
  }
  .main-single .full-contact {
    height: auto;
  }
  .main-single .full-contact .left-contact {
    flex-direction: column;
    padding-block: 28px 22px;
    gap: 15px;
  }
  .main-single .full-contact .left-contact p {
    margin: 0;
  }
  .main-single .full-contact .right-contact {
    display: none;
  }
  .main-single .post {
    flex-direction: column-reverse;
    gap: 25px;
  }
  .main-single .post .post-left {
    min-height: unset;
    overflow: unset;
    gap: 25px;
  }
  .main-single .post .post-left .post-info {
    gap: 25px;
    padding: 0 58px;
  }
  .main-single .post .post-left .post-title {
    padding: 0 58px;
    font-weight: 400;
    font-size: 46px;
    line-height: 48px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  .main-single .post .post-left .separator {
    margin: 12px 0px 0 0;
  }
  .main-single .post .post-right {
    padding: 0 58px;
  }
  .main-single .post .post-right .post-image img {
    height: auto;
  }
  .related-photo {
    padding: 32px 0 24px 0;
    gap: 28px;
  }
  .related-photo #photo-gallery #related-photos {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=theme.css.map */